.sops.yaml
*
!*/

!*.nix*
!*.tar*
!*.yaml*
!*.yml*
!flake.lock
!facter.json
!*.jar
!*.md
*.glsl
!.git*
!.git/*
!Justfile
modules/server/n8n.nix
modules/server/sillytavern.nix
modules/server/monitoring.nix
