@use "../../colors.scss";


.dock {
    background-color: transparent;
    transition: 200ms;
    
    &.floating {
        border-radius: 50rem;
    }
    
    &.top:not(.vertical) {
        .dock-container {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
    &.bottom:not(.vertical) {
        .dock-container {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
    
    &.vertical.left {
        .dock-container {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
    &.vertical.right {
        .dock-container {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }

    &.not-centered {
        background-color: colors.$background;
        .dock-container {
            background-color: transparent;
        }
    }
}


.dock-container {
    background-color: colors.$background;
    padding: 5px;
}

.app-button {
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    
    border-radius: 50rem;
    background-color: transparent;
    color: colors.$on_surface;
    transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        background-color: colors.$surface_container_high;
    }

    &:active {
        background-color: colors.$primary_container;
        color: colors.$on_primary_container;
    }
    
    &.open-app {
        background-color: colors.$surface_container;
    }


    .icon {
        background-color: transparent;
    }
}
